# misc
venv/
.venv/
*.pyc
__pycache__/
*.aux
*.log
*.out
*.toc
*.gz
*.fdb_latexmk
*.fls
.vscode/
.remember/

# PCAPS and big CSV files
datasets/CICIDS2017/Raw_dataset/
synthetic*
runs/phase2/P2v2_pred_20260412_004102/predictions.csv
runs/phase2/P2v2_pred_20260412_004624/predictions.csv

# Graphify output files
graphify-out/cache
.graphify_*.json
graphify-out/obsidian/
graphify-out/obsidian/.obsidian/
graphify-out/graph.html

# random docs
docs/Personal Research/*.md
docs/Personal Research/deep-defense-research/*.md
