# misc
venv/
.venv/
*.pyc
__pycache__/
*.aux
*.log
*.out
*.toc
*.gz
.fdb_latexmk
*.fls
.vscode/

# PCAPS and big CSV files
flows_simulated_*
synthetic*
runs/phase2/P2v2_pred_20260412_004102/predictions.csv
runs/phase2/P2v2_pred_20260412_004624/predictions.csv

# Graphify output files
graphify-out/cache
.graphify_*.json
graphify-out/obsidian/.obsidian/
graphify-out/obsidian/.obsidian/graph.json
graphify-out\graph.html
